/*
light violet, dark
#B200B7, #770578,


#f38100, #DB682E

*/
.board {
    box-sizing: border-box;
    width: 100vw;
    height: 70vh;
    z-index: -1;
}
.enemy {
    margin: auto;
}

.view {
    position: relative;
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}



.cardWrapper {
    width: 150px;
    height: 220px;
    position: relative;
    cursor: pointer;
}
.border {
    position: absolute;
    left: 0px;
    top:0px;
}


.enemy {
    position: absolute;
    top: 0px;
    z-index: 2;
    left: 40vw;
    cursor: pointer;

}



.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height:200px;
    width: 130px;
 
    position: absolute;
    left:10px;
    top: 10px;
    
    overflow-y: auto;
    overflow-x: hidden;

    
    background: rgb(2,0,36);
    background: linear-gradient(-25deg, rgba(2,0,36,1) 0%, rgba(119,5,120,1) 100%, rgba(0,212,255,1) 100%);


    
}
.content {
    box-sizing: border-box;
    width: 130px;
    padding: 10px;
    color: white;
    -ms-overflow-style: none;
    overflow: auto;
}
.content::-webkit-scrollbar {
    display: none;
}

.header {
    font-size: 16px;
    font-weight: 700;
}
.description {
    margin: 10px 0 0 0;
    font-size: 11px;
}


.cardImage {
    height: auto;
    width:130px;
}


.bottomBar {
    display: flex;
    direction: row;
    position: relative;
    z-index: 3;
    height:30vh;
}
.healthJug {
    width:200px;
    height:200px;
}
.hand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 400px;
    padding: 0 5px;
    background-color: transparent;
    width: 60%;
}
