.Card {
    float: left;
    border: 3px solid #555;
    border-radius: 10px;
    margin: 20px;
    width: 100px;
    height: 150px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
}

.Deck {
    border: 3px solid #555;
    width: 1000px;
    height: 200px;
    line-height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}